// header

.photograph-header {
  background-color: $clr-secondary--3;
  min-height: 300px;
  padding: 50px;
  margin: $margin-right-left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  &__picture {
    justify-self: end;
  }
}

.photograph-header__infos {
  &--name {
    color: $clr-secondary--1;
    font-size: 64px;
    line-height: 1.5;
  }

  &--location {
    color: $clr-primary;
    font-size: 24px;
    line-height: 2;
  }

  p {
    font-size: 18px;
    line-height: 2;
  }
}

// filters

.photograph-filters {
  margin: $margin-right-left;
  padding: 30px 0 50px 0;
  @include flex($align-items: center);
  gap: 20px;
}

// gallery

.photograph-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 7%;
  grid-row-gap: 3%;
  grid-auto-flow: row;
  align-items: center;
  margin: $margin-right-left;
  padding-bottom: 100px;
}

.card-media {
  width: 100%;

  &__link {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 300px;
    border-radius: 2%;
    aspect-ratio: 1/1;
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    opacity: 0;
    transition: 0.5s ease all;
  }

  img,
  video {
    transition: 0.5s ease all;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  &__link:hover img,
  &__link:hover video {
    transform: scale(1.1);
  }

  &__link:hover::after {
    opacity: 0.2;
  }

  &__infos {
    @include flex($align-items: center, $justify-content: space-between);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--title {
      color: $clr-primary;
      font-size: 24px;
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--likes {
      margin-left: 10px;
      font-size: 22px;
      background-color: $clr-white;
      color: $clr-black;
    }

    &--likes:after {
      font-family: "Font Awesome 5 Free";
      content: " \f004";
      font-weight: 700;
    }

    &--likes.active {
      color: $clr-primary;
      font-weight: 700;
    }
  }
}

// likes

.likes-box {
  @include flex($align-items: center, $justify-content: space-between);
  gap: 50px;
  position: fixed;
  bottom: 0;
  right: 30px;
  padding: 30px;
  background-color: $clr-modal;
  border-radius: 5px 5px 0 0;
  font-weight: 900;
  animation: fade-up 0.8s ease;

  &__likes::after {
    padding-left: 5px;
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0);
  }
}
