$clr-primary: #901C1C;

$clr-secondary--1: #D3573C;
$clr-secondary--2: #525252;
$clr-secondary--3: #FAFAFA;

$clr-black: black;
$clr-white: white;

//form colors
$clr-price: #757575;
$clr-label: #312e2e;
$clr-modal: #db8876;
