$clr-primary: #901c1c;

$clr-secondary--1: #d3573c;
$clr-secondary--2: #525252;
$clr-secondary--3: #fafafa;

$clr-black: black;
$clr-white: white;

//form colors
$clr-price: #757575;
$clr-label: #312e2e;
$clr-modal: #db8876;
$clr-invalid: #9e0000;

//margins and paddings
$margin-right-left: 0 100px;
